<h1><%= @cocktail.name %></h1>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>
<ul>
  <% @doses.each do |dose| %>
    <li>
      <p><%= dose.description %></p>
      <p><%= dose.ingredient.name %></p>
      <%= link_to "delete", cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>
<%= link_to "back to All", cocktails_path %>
<%= link_to "update", edit_cocktail_path %>
